.Header {
  display: flex;
  align-items:center;
  background: var(--background-color);

  border-bottom: 1px solid var(--highlight-color);
  padding: var(--default-spacing);

  & .logo {
    font-size: var(--heading-font-size);
    height: 1.5em;

    & img {
      height: 100%;
    }
  }

  & > * {
    margin: 0 var(--default-spacing);
  }

  &.compact {
    background: blue;

    & .logo {
      height: 1em;
    }

    & h1 {
      font-size: 2rem;
    }
  }
}