body, html {
  background: var(--background-color);
  font-size: var(--default-font-size);
  line-height: 1.2;
}

body, button {
  font-family: 'Noto Serif', serif;
}

a {
  text-decoration: none;
  color: var(--highlight-color);

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 1em 0;
}
