@keyframes Loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:  0;
  z-index:  calc(var(--content-z-index) + 5);

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255, .6);

  &.static {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left:  auto;
    z-index: auto;
  }
}

.Loading__icon {
  width: 64px;
  animation: Loading-animation 3s linear infinite;
  opacity: 0.2;
}